:root {
  --background-color: #fdf6e3;
  --background-emphasized: #eee8d5;
  --border-color: #93a1a1;
  --text-color: #073642;
  --yellow: #b58900;
  --orange: #cb4b16;
  --red: #dc322f;
  --magenta: #d33682;
  --violet: #6c71c4;
  --blue: #268bd2;
  --cyan: #2aa198;
  --green: #859900;
}

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  display: block;
  margin: auto;
  padding: 0 5%;
  max-width: 50rem;
  background: var(--background-color);
  color: var(--text-color);
}

a:link {
  color: var(--blue);
}

a:visited {
  color: var(--violet);
}

nav {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  top: 0;
  display: flex;
  justify-content: space-around;
  gap: 5px;
  background: var(--background-color);
  line-height: 2rem;
}
nav a {
  display: block;
  flex: 1 1 0px;
  text-align: center;
  background: var(--background-emphasized);
  border: 1px solid var(--border-color);
  border-radius: 0.2rem;
  /* padding: 2px; */
}
nav a:link {
  color: var(--text-color);
  text-decoration: none;
}
nav a:visited {
  color: var(--text-color);
  text-decoration: none;
}
.icons {
  display: flex;
  justify-content: center;
}
.icons img,
.icons svg {
  width: 2rem;
  height: 2rem;
  margin: 1rem;
}
.icons a {
  text-decoration: none;
}
.icons a:link {
  color: var(--border-color);
  text-decoration: none;
}
.icons a:visited {
  color: var(--border-color);
  text-decoration: none;
}

hr {
  color: var(--border-color);
}
header,
footer {
  padding: 1rem 0;
  font-size: 1.5rem;
}

section {
  scroll-margin-top: 3rem;
}

p img {
  display: block;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 1px solid var(--border-color);
  border-radius: 0.1rem;
  max-width: 90vw;
}

h1 {
  font-size: 3rem;
  text-align: center;
}
h2 {
  font-size: 2rem;
}

.profile-picture {
  display: block;
  margin: auto;
  width: 90vw;
  max-width: 25rem;
  border-radius: 50%;
  padding: 2rem;
}
